* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

body {
   /* background: #001e4d; */
}

.background-video {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: -1;
   opacity: 0.8; /* Adjust the opacity as needed */
 }


.tree-video {
   background: #fff;
   width: 50%;
   max-width: 100%;
   margin: 100px auto;
   border-radius: 10px;
   padding: 30px;
   float: right;
}

#video {
   height: auto;
}

.green-word {
   color: #45f248;
}

.app {
   background: #fff;
   width: 50%;
   max-width: 600px;
   margin: 100px auto;
   border-radius: 10px;
   padding: 30px;
   float: left;
   opacity: 0.8; /* Adjust the opacity as needed */
}



.app h1 {
   font-weight: 25px;
   color: #001e4d;
   font-weight: 600;
   border-bottom: 1px solid #333;
   padding-bottom: 30px;
}

.quiz {
   padding: 20px 0;
}

.quiz h2 {
   font-size: 18px;
   color: #001e4d;
   font-weight: 600;

}

.btn {
   background: #fff;
   color: #222;
   font-weight: 500;
   width: 100%;
   border: 1px solid #222;
   padding: 10px;
   margin: 10px 0;
   text-align: left;
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.3s;

}

.btn:hover:not([disabled]) {
   background: #222;
   color: #fff;

}

.btn:disabled {
   cursor: no-drop;
}


#next-btn {
   background: #001e4d;
   color: #fff;
   font-weight: 500;
   width: 150px;
   border: 0;
   padding: 10px;
   margin: 20px auto 0;
   border-radius: 4px;
   cursor: pointer;
   display: none;

}



.correct {
   background: #9aeabc;
}

.incorrect {
   background: #ff9393;
}


.video_t {
   width: 35rem;
   height: 22rem;
   background-color: lightgray;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   border-radius: 30px;

}